# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:8080" # Allowed CORS origin, adjust as necessary

# Database Configuration
MONGODB_URL="mongodb://127.0.0.1:27017/<example>"

MONGO_URI=mongodb://127.0.0.1:27017/mes
JWT_SECRET=secret
