PORT=5000

MONGODB_URL=mongodb+srv://mesUser:sharktankindia@cluster0.vpzdbwh.mongodb.net/auth_test 

JWT_SECRET=super_super_secret_key

EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USER=9e9b1f001@smtp-brevo.com
EMAIL_PASS=zVCYH48AEGfSdwTk
EMAIL_FROM=sarthakchaddha1096@gmail.com